@import '../common/style/base.scss';

.xnate {
  &-site {
    min-width: 1200px;
    &-container {
      margin: 0 160px 0 280px;
    }
    &-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      padding-top: 60px;
    }
  }
}
